.art-hero-wrapper {
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    // For Dev Environment on the Heroes. Comment out when complete and ready to push to prod
    height: 536px;

    a {
        text-decoration: none;
        width: 100%;
    }
}

.hero-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: DomaineDisplay, "Domaine Display", 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.hero-big-text {
    display: flex;
    text-align: center;
    background-color: #454549;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2 * 1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border: 4px solid #05432a; */
}

.hero-image {
    max-height: 100%;
    width: calc(100% / 3 * 2);
}

.hero-image img {
    align-self: center;
    width: 100%;
    height: 100%;
}

.hero-copy {
    font-family: 'DomaineDisplay',Helvetica,Arial,sans-serif;
    font-size: 64px;
    line-height: 80px;
    color: #ffffff;
    text-align: center;
    margin: 9px;
    width: 70%;

    span {
        font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
        font-weight: 100;
    }
}

.offer-copy {
    margin: 0 22%;
    font-size: 90px;
}

.hero-subcopy {
    color: #d3dce0;
    margin: 6px;
    font-weight: 400;
    font-size: 28px;
    width: 60%;
    font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
    margin: 12px 0px;
}

.hero-cta {
    background-color: #e8e4e4;
    color: #47473e;
    font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
padding: 16px 70px;
line-height: normal;
font-size: 17px;
font-weight: 500;
letter-spacing: 0.3vw;
border: none;
margin-top: 20px;
    
}

.hero-cta:hover {
    /* letter-spacing: 9px;
    transition: 0.5s ease-in-out;
    color: #fff; */
}
/* Breakpoint designed to 1600px and 560px */
@media screen and (max-width: 1800px) {
    .hero-copy {
        font-size: 4.8vw;
        line-height: 4.6vw;
        width: 70%;
    }

    .offer-copy {
        /* margin: 0 20%; */
        margin: 0 23%;
        font-size: 5vw;
    }

    .hero-subcopy {
        width: 55%;
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 1224px) {
    .hero-copy {
        margin: 10px 0 5px;
        width: 70%;
    }

    .hero-subcopy {
        font-size: 20px;
        width: 55%;
    }

    .hero-cta {
        font-size: 17px;
        margin: 14px auto;
    }
}
@media screen and (max-width: 1008px) {
    .hero-subcopy {
        font-size: 16px;
        width: 65%;
    }

    .hero-cta {
        margin: 14px auto;
    }
}
/*
##Device = Tablets, Ipads (portrait), and phones
##Screen = B/w 768px
*/
@media only screen and (max-width: 768px) {
    // Display Flex Column wasn't working for a older version of Safari - 10.03
    .hero-group {
        display: block;
    }

    .hero-big-text {
        width: 100%;
    }

    .hero-image {
        width: 100%;
        height: 100%;
    }

    .hero-copy {
        font-size: 6.5vw;
        line-height: 1;
    }

    .offer-copy {
        margin: 0;
        font-size: 6.5vw;
    }

    .hero-subcopy {
        margin: 2px;
    }
}
@media only screen and (max-width: 480px) {
    .hero-subcopy {
        font-size: 17px;
        width: 76%;
    }
}
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero-copy {
        background: none;
        color: #ccb96f;
    }
}

.exceptions-hero {
    max-width: 1800px;
    margin: 0 auto;
    @media screen and (max-width: 667px) {
        margin-bottom: 4px;
    }

    p {
        text-align: right;
        margin: 0;
        font-size: 12px;
    }
}