.hero-unit {
  text-align: right;
  padding: 40px 0px;
}

.hero-unit>iframe {
  border: none;
  margin-top: 20px;
}

.hero-unit h1 {
  padding-right: 10%;
  font-family: Helvetica;
  color: #666;
}

.navbar {
  text-align: center;
}

.navbar a {
  display: block;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}