.marketing-two-wrapper {
    margin: 0 auto;
    max-width: 1600px;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 50px;
}
@media screen and (min-width: 667px) {
    .marketing-two-wrapper {
        display: flex;
        flex-direction: row;
    }
}

.marketing-two-wrapper img {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.marketing-left-container {
    margin-bottom: 40px;
}
@media screen and (min-width: 667px) {
    .marketing-left-container {
        margin-bottom: 0;
        width: 50%;
        padding: 0 2.5px 0 5px;
        display: block;
    }
}
@media screen and (min-width: 1008px) {
    .marketing-left-container {
        display: flex;
        flex-direction: row-reverse;
        width: 69%;
        padding: 0 2% 0 0;
    }
}
@media screen and (min-width: 667px) {
    .marketing-right-container {
        width: 50%;
        padding: 0 2.5px 0 5px;
    }
}
@media screen and (min-width: 1008px) {
    .marketing-right-container {
        width: 36%;
        padding: 0;
        background-color: #faf7f0;
    }
}
@media screen and (min-width: 1200px) {
    .marketing-right-container {
        width: 44.3%;
    }
}
@media screen and (min-width: 1008px) {
    .marketing-left-img {
        width: 238%;
        background: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/post-rebrand/marketing-2up/post-holiday/onDemand-desktop-revised-opt.jpg");
        background-size: cover;
        background-size: 112%;
        background-position: center;
    }
}
@media screen and (min-width: 1200px) {
    .marketing-left-img {
        width: 200%;
    }
}

img.tablet-frame-img {
    display: none;
}
@media screen and (min-width: 667px) {
    img.tablet-frame-img {
        display: block;
    }
}
@media screen and (min-width: 1008px) {
    img.tablet-frame-img {
        display: none;
    }
}
@media screen and (min-width: 667px) {
    img.mob-desk-frame-img {
        display: none;
    }
}
/*
       @media screen and (min-width: 1008px) {
           img.mob-desk-frame-img {
               display: block;
           }
       }*/
.marketing-left-text {
    background-color: #779aa3;
    height: 180px;
}
@media screen and (min-width: 1008px) {
    .marketing-left-text {
        height: auto;
        /*width: 100%;*/
        /*padding: 0 10px;*/
        padding: 0 30px;
        width: 160%;
    }
}

.marketing-right-text {
    background-color: #faf7f0;
    text-align: center;
    height: 180px;
}
@media screen and (min-width: 1008px) {
    .marketing-right-text {
        height: auto;
        padding: 3em 0.2em 0.2em;
    }
}
@media screen and (min-width: 1200px) {
    .marketing-right-text {
        padding-top: 5%;
    }
}
@media screen and (min-width: 1600px) {
    .marketing-right-text {
        padding-top: 4.5%;
    }
}

.marketing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.marketing-left-title {
    color: #f9e0c4;
}

.marketing-right-title {
    color: #c57a09;
}

.marketing-title {
    font-family: DomaineDisplay, 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
@media screen and (min-width: 667px) {
    .marketing-title {
        font-family: DomaineDisplay, 'BebasNeueRegular', Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
}
@media screen and (min-width: 1060px) {
    .marketing-title {
        font-family: DomaineDisplay, 'BebasNeueRegular', Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
}

.marketing-left-copy {
    color: #ffffff;
}

.marketing-right-copy {
    color: #333;
}

.marketing-copy {
    font-family: "CalibreFamily", "BebasNeueRegular", Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 26px;
    padding: 0 1em;
}
@media screen and (min-width: 1008px) {
    .marketing-copy {
        /*padding: 0 .2em;*/
        padding: 0;
    }
}

.marketing-left-cta {
    text-align: center;
}

.marketing-left-cta a {
    color: #fff;
}

.marketing-right-cta a {
    color: #333;
}

.marketing-cta a {
    border-bottom: 1px solid;
    padding-bottom: 3px;
    text-decoration: none;
}

.marketing-cta {
    font-family: "CalibreFamily", "BebasNeueRegular", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 13px;
    text-indent: 1.5px;
    margin-top: 18px;
}

.crossfade-text {
    position: absolute;
    top: 40%;
    left: 47%;
    background-color: #f0ebe4;
    padding: 1.5%;
    border-radius: 30px;
    border: 1px solid #e8dbc8;
    color: #c97f0e;
    font-family: DomaineDisplay, 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vw;
}
@media screen and (min-width: 667px) {
    .crossfade-text {
        font-size: 1vw;
    }
}
@media screen and (min-width: 1600px) {
    .crossfade-text {
        font-size: 1.5em;
    }
}
/*****************************
          ANIMATED HERO CSS
    *****************************/
.marketing-animation-container {
    position: relative;
    margin: 0 auto;
    max-width: 1008px;
    padding-top: 54%;
}
@media screen and (min-width: 667px) {
    .marketing-animation-container {
        padding-top: 55%;
    }
}
@media screen and (min-width: 1008px) {
    .marketing-animation-container {
        height: auto;
    }
}

.crossfade > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: 0;
}

.image-fade-desktop {
    display: none;
}

.image-fade-mobile {
    display: block;
}
@media screen and (min-width: 667px) {
    .image-fade-desktop {
        display: block;
    }

    .image-fade-mobile {
        display: none;
    }
}
@keyframes imageAnimationFadeInOut {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    62% {
        opacity: 0;
    }

    82% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes imageAnimationFadeInOut {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    62% {
        opacity: 0;
    }

    82% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.crossfade .image-fade-first {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.crossfade .image-fade-second {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.crossfade .image-fade-third {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.crossfade img {
    animation-name: imageAnimationFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    -webkit-animation-name: imageAnimationFadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 9s;
}