// Mobile (Design)
.apc-got-wrapper {
    position: relative;
    max-width: 1008px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    img {
        width: 100%;
    }

    h1,
    h2,
    h3 {
        margin: 0;
        color: #ffffff;
    }

    picture {
        display: block;
    }

    .hero-text-container {
        text-align: center;
        position: absolute;
        top: 61%;
        left: 0%;
        right: 0%;
        bottom: 0;

        .hero-headline {
            color: #fff;
            text-shadow: 0 0 14px #cc1d01;
            text-transform: uppercase;
            margin: 6.5vw 0 0.5vw 0 !important;
            font-size: 8vw;
            line-height: 7.5vw;
            font-family: 'Rockwell', 'Apercu', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
            font-weight: 800;
            font-style: normal;
            background-position: center;
            padding: 0;
        }

        .hero-body-copy {
            font-family: "FuturaStd-Medium", "Futura-Bold", 'Apercu', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
            font-size: 3.4vw;
            width: 52vw;
            line-height: 4.4vw;
            margin: 0 auto 2vw auto !important;
            color: #fff;
        }

        .hero-cta {
            font-size: 3.4vw;
            font-family: "FuturaStd-Heavy", 'Apercu', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0;
            background-color: #162257;
            color: #ffffff;
            display: inline-block;
            padding: 1.8vw 7.5vw;
            margin: 0;
            transition: 0.5s all;
            letter-spacing: 0.5px;
            background-color: #f1bd03;
            color: #2f0505;

            &:hover {
                letter-spacing: 2px;
            }
        }

        // Between Desktop and Mobile.
        @media only screen and (min-width: 668px) {
            .hero-headline {
                font-size: 6.5vw;
                margin: 0.5vw 0 0vw 0 !important;
                line-height: 5.8vw;
                padding: 0px 23vw;
            }

            .hero-body-copy {
                font-size: 2.1vw;
                width: 32vw;
                margin: 0 auto 1.5vw auto !important;
                line-height: 2.6vw;
            }

            .hero-cta {
                font-size: 2.3vw;
                padding: 1vw 4vw;
            }
        }

        // Greater than 1008px (desktop)
        @media only screen and (min-width: 1008px) {
            .hero-headline {
                font-size: 67px;
                line-height: 58px;
                margin: 0 !important;
                padding: 0 245px;
            }

            .hero-body-copy {
                font-size: 21px;
                width: 326px;
                margin: 0 auto 12px auto !important;
                line-height: 27px;
            }

            .hero-cta {
                font-size: 18px;
                padding: 10px 37px;
            }
        }
    }

    @media only screen and (min-width: 668px) {
        .hero-text-container {
            top: 22.5%;
        }
    }

    @media only screen and (min-width: 1008px) {
        .hero-text-container {
            top: 25%;
        }
    }

    // IE10+ CSS styles go here
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {}
}