$primary-color: #1f4346;
$secondary-color: #ffffff;

.art-hero {
    cursor: pointer;
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    color: $secondary-color;
    font-family: 'CalibreFamily',Helvetica,Arial,sans-serif;

    .hero-group {
        background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1210/hero/green-monday-desktop.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
        height: 515px;
    }

    a {
        display: block;
        height: 100%;
        text-decoration: none;
    }

    .hero-text {
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        text-decoration: none;
    }

    h1,
    h2 {
        color: $primary-color;
        font-family: 'DomaineDisplay',Helvetica,Arial,sans-serif;
    }

    h1 {
        font-size: 190px;
        line-height: 1;

        sup {
            font-size: 100px;
        }
    }

    h2 {
        font-size: 60px;

        sup {
            font-size: 70px;
        }
    }

    h3 {
        color: $secondary-color;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 10px;
    }

    h3.extended {
        font-size: 36px;
    }

    h4 {
        color: $secondary-color;
        font-size: 40px;
        font-weight: 400;
    }

    .hero-cta {
        color: $primary-color;
        font-size: 20px;
        padding: 16px 70px;
        line-height: normal;
        font-size: 17px;
        background: $secondary-color;
        font-weight: 700;
        letter-spacing: 0.3vw;
    }
    // Between Desktop and Mobile
    @media (min-width: 668px) and (max-width: 1600px) {
        h1 {
            font-size: 11vw;

            sup {
                font-size: 7vw;
            }
        }

        h2 {
            font-size: 6vw;

            sup {
                font-size: 4vw;
            }
        }

        h3 {
            font-size: 2.7vw;
        }

        .hero-cta {}
    }
    // Mobile Breakpoint
    @media screen and (max-width: 667px) {
        .hero-group {
            height: 100vw;
            background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1210/hero/green-monday-mobile.jpg");
        }
    }
    // Mobile (Design) Breakpoint
    @media screen and (width: 667px) {
        h1 {
            font-size: 140px;
        }

        h2 {
            font-size: 40px;

            sup {
                font-size: 30px;
            }
        }

        h3 {
            font-size: 44px;
        }

        h3.extended {
            font-size: 30px;
        }

        h4 {
            font-size: 36px;
        }

        .hero-cta {
            font-size: 21px;
            padding: 22px 100px;
            letter-spacing: 0.6vw;
        }
    }
    // Mobile Breakpoint
    @media screen and (max-width: 666px) {
        h1 {
            margin: 6vw 0 1vw;
            font-size: 24vw;

            sup {
                font-size: 14vw;
            }
        }

        h2 {
            margin-bottom: 4vw;
            font-size: 8vw;

            sup {
                font-size: 6vw;
            }
        }

        h3 {
            font-size: 6vw;
        }
    }
}