.art-hero-wrapper {
    cursor: pointer;
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    color: #ffffff;
    font-family: "CalibreFamily", Helvetica, Arial, sans-serif;

    .hero-group {
        background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2019/0224/neon_bg_mobile.jpg");
        height: 79vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    a {
        position: relative;
        top: 4%;
        display: block;
        height: 100%;
        text-decoration: none;
    }

    .hero-text {
        text-align: center;
        position: relative;
        top: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 100%;

        h1,
        h2,
        h3 {
            margin: 0;
            text-decoration: none;
            line-height: 1;
        }

        h1 {
            font-size: 19.5vw;
            font-family: "DomaineDisplay", Helvetica, Arial, sans-serif;
            color: #ffffff;
        }

        h2 {
            font-size: 6.4vw;
            margin: 1.5vw 0 0 0;
            letter-spacing: 0.6vw;
            font-family: "CalibreFamily", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #ffffff;
            text-transform: uppercase;
        }

        h3 {
            font-size: 4.3vw;
            margin-bottom: 0.5vw;
            font-weight: 600;
            text-transform: uppercase;
            color: #ffffff;
            letter-spacing: 0.7vw;
        }

        .hero-cta {
            padding: 3vw 8.5vw;
            font-size: 3.5vw;
            letter-spacing: 1.4vw;
            text-indent: 1.4vw;
            font-weight: 500;
            line-height: normal;
            border: none;
            transition: 0.3s all;
            margin-top: 6vw;
            color: #ffffff;
            background: #862f52;

            &:hover {
                background: #ffffff;
                color: #862f52;

            }
        }
    }

    @media screen and (min-width: 600px) {
        .hero-text {
            .hero-cta {
                padding: 3vw 8vw;
                font-size: 3vw;
            }
        }
    }

    @media screen and (min-width: 769px) {
        .hero-group {
            background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2019/0224/neon_bg_desktop1.jpg");
            background-size: 100% 100%;
            background-position: 0% 14%;
            height: 36vw;
        }

        a {
            top: 2%;
        }

        .hero-text {
            h1 {
                font-size: 11vw;
            }

            h2 {
                font-size: 3vw;
                letter-spacing: 0.5vw;
                margin: 1vw 0 0 0;
            }

            h3 {
                font-size: 2.2vw;
                letter-spacing: 0.6vw;
                margin-bottom: 0;
            }

            .hero-cta {
                padding: 1.3vw 4.6vw;
                font-size: 1.6vw;
                letter-spacing: 0.6vw;
                margin-top: 3vw;
                text-indent: 0.7vw;
            }
        }
    }

    @media (min-width: 1008px) {
        .hero-group {
            height: 37vw;
        }

        .hero-text {
            .hero-cta {
                padding: 1.3vw 4.5vw;
                font-size: 1.5vw;
                margin-top: 3.3vw;
            }
        }
    }

    @media (min-width: 1350px) {
        .hero-group {
            height: 490px;
        }

        a {
            top: 4%;
        }

        .hero-text {
            h1 {
                font-size: 135px;
            }

            h2 {
                font-size: 30px;
                letter-spacing: 7px;
                margin: 15px 0 10px 0;
            }

            h3 {
                font-size: 25px;
                letter-spacing: 8px;
            }

            .hero-cta {
                padding: 15px 56px;
                font-size: 18px;
                letter-spacing: 9px;
                margin-top: 35px;
                text-indent: 10px;
            }
        }
    }
}