.art-hero-wrapper {
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;

    // For Dev Environment on the Heroes. Comment out when complete and ready to push to prod
    // height: 545px;

    // height: 85vw;
    // height: 506.5px;

    a {
        text-decoration: none;
        width: 100%;
    }
}

.desktop-content {
    display: none;
}

.hero-group {
    width: 100%;
    // Display Flex Column wasn't working for a older version of Safari - 10.03
    display: block;
    font-family: DomaineDisplay, "Domaine Display", 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

.hero-image {
    width: 100%;
    // height: 100%;
    height: auto;

}

.hero-image img {
    align-self: center;
    width: 100%;
    height: 100%;
}

.desktop-content,
.mobile-content {
    .italic {
        font-style: italic;
    }

    .hero-big-text {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .nested-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-copy {
        font-family: 'DomaineDisplay', Helvetica, Arial, sans-serif;
        text-align: center;
        position: relative;
        .superscript {
            position: relative;
        }
    }

    .hero-subcopy {
        font-weight: 400;
        font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
    }

    .hero-cta {
        font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
        line-height: normal;
        font-weight: 600;
        border: none;
    }
}

.mobile-content {
    .hero-big-text {
        background: url('https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2019/0423/mothers_day_fmp_mobile.jpg');
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 87vw;

        .nested-container {
            top: 66%;
        }
    }

    .hero-copy {
        font-size: 6.8vw;
        line-height: 7.5vw;
        color: #ffe8dc;
        margin: 3.5vw 0 0 0;
        .superscript {
            font-size: 4.4vw;
            top: 0.1vw;
        }
    }

    .hero-subcopy {
        color: #ffffff;
        font-size: 3.2vw;
        padding: 0 6.6vw;
        margin: 0.5vw 0 0 0;
    }

    .hero-cta {
        background-color: #cedfe7;
        color: #3b4c58;
        padding: 2.1vw 5vw;
        font-size: 3vw;
        letter-spacing: 1vw;
        margin: 2.3vw auto 6.5vw auto;
    }
}

.desktop-content {
    display: none;
}

@media screen and (min-width: 768px) {
    .mobile-content {
        display: none;
    }

    .desktop-content {
        display: block;
        position: relative;

        .hero-big-text {
            justify-content: center;
            width: 38%;
            padding-bottom: 3vw;
            position: absolute;
            top: 8%;
            bottom: 0%;
            right: 0;
            left: 62%;

            .nested-container {
                top: 13%;

                h2 {
                    margin: 0;
                }
            }
        }

        .hero-copy {
            font-size: 4.5vw;
            line-height: 5vw;
            color: #ffe8dc;
            margin: 0;
            right: 0;
            width: 84%;
            .superscript {
                font-size: 2.9vw;
                top: 0vw;
            }
        }

        .hero-subcopy {
            font-size: 2.3vw;
            padding: 0 3vw;
            margin: 1.2vw 0;
            line-height: 3vw;
            color: #ffffff;
        }

        .hero-cta {
            padding: 1.5vw 4vw;
            font-size: 2vw;
            letter-spacing: 0.6vw;
            margin: 1vw auto 5.3vw auto;
            background-color: #cedfe7;
            color: #3b4c58;
        }
    }

    .hero-group {
        display: flex;
        flex-direction: row;
    }

    .hero-image {
        max-height: 100%;
        // width: calc(100% / 3 * 2);
        width: 100%;
    }
}

@media screen and (min-width: 1008px) {
    .desktop-content {
        .hero-big-text {
            width: 38%;
            top: 7%;
            bottom: 0%;
            right: 0;
            left: 62%;

            .nested-container {
                width: 86%;
            }
        }

        .hero-copy {
            font-size: 4.5vw;
            line-height: 4.8vw;
            width: 88%;
            .superscript {
                font-size: 2.4vw;
            }
        }

        .hero-subcopy {
            font-size: 1.8vw;
            padding: 0vw 3.5vw;
            margin: 0.7vw 0 1.2vw 0;
            line-height: 2.2vw;
        }

        .hero-cta {
            padding: 1.5vw 3vw;
            letter-spacing: .5vw;
            margin: 1vw auto 5vw auto;
            font-size: 1.6vw;
        }
    }
}

@media screen and (min-width: 1300px) {
    .desktop-content {
        .hero-big-text {
            width: 37%;
            top: 0%;
            bottom: 2%;
            left: 62.5%;
            right: 0;

            .nested-container {
                width: 86%;
            }
        }

        .hero-copy {
            font-size: 57px;
            line-height: 56px;
            margin: 35px 0 0 0;
            .superscript {
                font-size: 28px;
            }
        }

        .hero-subcopy {
            font-size: 23px;
            padding: 0 48px;
            margin: 12px 0;
            line-height: 29px;
        }

        .hero-cta {
            padding: 17px 52px;
            font-size: 22px;
            letter-spacing: 6px;
            margin: 22px auto 67px auto;
        }
    }
}

@media screen and (min-width: 1600px) {
    .desktop-content {
        .hero-big-text {
            width: 37%;
            top: 0%;
            bottom: 5%;
            left: 63%;
            right: 0;
            padding-bottom: 53px;

            .nested-container {
                width: 96%;
            }
        }

        .hero-copy {
            font-size: 69px;
            line-height: 68px;
            width: 76%;
            .superscript {
                top: -4px;
            }
        }

        .hero-subcopy {
            font-size: 26px;
            padding: 0px 85px;
            margin: 14px 0 12px 0;
            line-height: 32px;
        }
    }
}

@media screen and (min-width: 1800px) {
    .desktop-content {
        .hero-subcopy {
            padding: 0px 75px;
        }
    }
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) and (min-width: 768px) {
    .hero-subcopy {
        width: 42%;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) and (min-width: 1008px) {
    .hero-subcopy {
        width: 63%;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) and (min-width: 1300px) {
    .hero-subcopy {
        width: 58%;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) and (min-width: 1600px) {
    .hero-subcopy {
        width: 60%;
    }
}