.art-hero-wrapper {
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;

    a {
        text-decoration: none;
    }
}

.hero-group {
    background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1226/hero-mobile-optimized.jpg");
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 128vw;
}
@media only screen and (min-width: 667px) {
    .hero-group {
        background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1226/hero-desktop-optimized.jpg");
        background-size: cover;
        background-position: center;
        margin: auto;
        background-repeat: no-repeat;
        height: 31vw;
    }
}
@media only screen and (min-width: 1600px) {
    .hero-group {
        height: 495px;
    }
}

.hero-group a {
    display: block;
    height: 100%;
}

.hero-big-text {
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    padding-top: 5%;
}
@media only screen and (min-width: 667px) {
    .hero-big-text {
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 45%;
        height: 100%;
        padding-top: 0;
    }
}

.hero-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 5vw;
}
@media only screen and (min-width: 667px) {
    .hero-header {
        bottom: 0;
    }
}

.hero-header-copy {
    font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
    color: #22414b;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}
@media only screen and (min-width: 667px) {
    .hero-header-copy {
        font-size: 2vw;
    }
}
@media only screen and (min-width: 1600px) {
    .hero-header-copy {
        font-size: 32px;
    }
}

.hero-subheader {
    color: #ab4e49;
    font-size: 6vw;
    font-family: 'DomaineDisplay',Helvetica,Arial,sans-serif;
    font-weight: 500;
    margin: -2% 0 4%;
}
@media only screen and (min-width: 667px) {
    .hero-subheader {
        font-size: 4vw;
    }
}
@media only screen and (min-width: 1600px) {
    .hero-subheader {
        font-size: 63px;
    }
}

.hero-copy {
    font-family: 'DomaineDisplay',Helvetica,Arial,sans-serif;
    color: #ab4e49;
    text-align: center;
    font-size: 17.5vw;
    line-height: 1;
    margin: 5px 0 10px;
}
@media only screen and (min-width: 667px) {
    .hero-copy {
        font-size: 9vw;
        margin: 0;
    }
}
@media only screen and (min-width: 1600px) {
    .hero-copy {
        font-size: 145px;
        margin: 0;
    }
}

.hero-subcopy {
    color: #8884ac;
    font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
    font-size: 4.3vw;
    font-weight: 400;
    padding: 0 0 4vw;
    width: 42%;
}
@media only screen and (min-width: 667px) {
    .hero-subcopy {
        font-size: 2vw;
        padding: 0.5vw 0 2vw;
        width: 100%;
        font-size: 1.9vw;
    }
}
@media only screen and (min-width: 1008px) {
    .hero-subcopy {
        margin: 0;
    }
}
@media only screen and (min-width: 1600px) {
    .hero-subcopy {
        font-size: 30.5px;
        padding: 8px 0 32px;
    }
}

.hero-cta {
    margin: 0 auto;
    font-weight: 700;
    border: none;
    font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
    font-size: 3.8vw;
    border-radius: 2px;
    background-color: #22414b;
    color: #fff;
    width: 48vw;
    line-height: 9vw;
    padding: 0;
    letter-spacing: 1vw;
    text-indent: 1vw;
}
@media only screen and (min-width: 667px) {
    .hero-cta {
        text-align: center;
        line-height: 21px;
        font-size: 1.5vw;
        letter-spacing: 0.3vw;
        text-indent: 0.3vw;
        padding: 0.7vw 0;
        width: 16vw;
    }
}
@media only screen and (min-width: 1008px) {
    .hero-cta {
        font-size: 1.05vw;
        width: 15.3vw;
        line-height: normal;
        padding: 0.9vw 0;
    }
}
@media only screen and (min-width: 1600px) {
    .hero-cta {
        padding: 14px 0;
        line-height: normal;
        width: 246px;
        font-size: 17px;
    }
}