.art-hero-wrapper {
    cursor: pointer;
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'CalibreFamily',Helvetica,Arial,sans-serif;

    .hero-group {
        background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1201/hero/desktop_retina.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-size: cover;
        margin: auto;
        background-repeat: no-repeat;
        height: 515px;
    }

    a {
        display: block;
        height: 100%;
        text-decoration: none;
    }

    .hero-text {
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 100%;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        text-decoration: none;
        line-height: 1;
    }

    h1,
    h2 {
        color: #f5e8c9;
        font-family: 'DomaineDisplay',Helvetica,Arial,sans-serif;
    }

    h1 {
        font-size: 150px;
        margin-top: 0;
    }

    h2 {
        font-size: 82px;
        margin-top: -1%;
        margin-bottom: 2%;

        sup {
            font-size: 20px;
            vertical-align: top;
            line-height: 2;
        }
    }

    h3 {
        text-transform: uppercase;
        font-weight: 200;
        color: #6a1e59;
        font-size: 35px;
    }

    h4 {
        color: #FFF;
        font-size: 39px;
        font-weight: 400;
    }

    .hero-cta {
        color: #ffffff;
        font-size: 20px;
        padding: 16px 70px;
        line-height: normal;
        font-size: 17px;
        background: #702b61;
        font-weight: 700;
        letter-spacing: 0.3vw;
        border: none;
    }
    // Between Desktop and Mobile
    @media (min-width: 668px) and (max-width: 1600px) {
        h1 {
            font-size: 9.3vw;
        }

        h2 {
            font-size: 5.2vw;

            sup {
                font-size: 20px;
                line-height: 3vw;
            }
        }

        h3 {
            font-size: 2.5vw;
        }

        h4 {
            font-size: 2.4vw;
        }

        .hero-cta {}
    }
    // Mobile Breakpoint
    @media screen and (max-width: 667px) {
        .hero-group {
            height: 100vw;
            background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1201/hero/email-mobile.jpg");
        }

        h1 {
            font-size: 19.5vw;
        }

        h2 {
            font-size: 10vw;
            margin-bottom: 7%;

            sup {
                font-size: 20px;
                line-height: 6vw;
            }
        }

        h3 {
            font-size: 5vw;
        }

        h4 {
            font-size: 5.2vw;
        }
    }
    // Mobile (Design) Breakpoint
    @media screen and (width: 667px) {
        .hero-group {
            height: 100vw;
            background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2018/1201/hero/email-mobile.jpg");
        }

        h1 {
            font-size: 130px;
        }

        h2 {
            font-size: 66px;

            sup {
                font-size: 20px;
            }
        }

        h4 {}

        .hero-cta {
            font-size: 34px;
            padding: 22px 100px;
            letter-spacing: 0.6vw;
        }
    }
}