.art-hero-wrapper {
    max-width: 1800px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 3px auto;
}

.hero-group {
    background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2019/0513/coastal_mobile.jpg");
    z-index: 99;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vw;

    a {
        display: block;
        height: 100%;
        text-decoration: none;
    }

    .hero-big-text {
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: flex-start;
        height: 100%;
        padding-top: 3.5%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .hero-copy {
            font-family: 'DomaineDisplay', Helvetica, Arial, sans-serif;
            color: #025660;
            text-align: center;
            font-size: 11vw;
            line-height: 1;
            margin: 0 0 0 0;
        }

        .hero-subcopy {
            color: #855334;
            font-size: 3.2vw;
            font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
            font-weight: 400;
            margin: 0;
            padding: 0;
            line-height: 6vw;
            text-align: left;
        }

        .hero-cta {
            margin: 1vw 0 0 0;
            font-weight: 700;
            border: none;
            font-family: 'CalibreFamily', Helvetica, Arial, sans-serif;
            font-size: 2.8vw;
            background-color: #0f275c;
            color: #ffffff;
            width: 35vw;
            padding: 2.3vw 0;
            letter-spacing: 1vw;
        }
    }
}

@media only screen and (min-width: 769px) {
    .hero-group {
        background-image: url("https://cache1.artprintimages.com/images/jump_pages/rebrand/homepage/2019/0513/coastal_desktop.jpg");
        background-size: cover;
        background-position: center;
        margin: auto;
        background-repeat: no-repeat;
        height: 35vw;

        .hero-big-text {
            top: 24%;
            display: flex;
            margin: 0;
            width: 42%;
            height: auto;
            padding-top: 0;
            left: 3%;

            .hero-copy {
                font-size: 6vw;
                margin: 0;
            }

            .hero-subcopy {
                font-size: 2.1vw;
                padding: 0;
                line-height: 2.3vw;
                margin: 0.5vw 0 0 0;
            }

            .hero-cta {
                text-align: center;
                font-size: 1.8vw;
                letter-spacing: 0.4vw;
                padding: 1.3vw 1.2vw;
                width: 40%;
                margin: 2vw 0 0 0;
            }
        }
    }
}

@media only screen and (min-width: 1008px) {
    .hero-group {
        .hero-big-text {
            .hero-cta {
                font-size: 1.6vw;
                width: 16vw;
                padding: 1.2vw 1.3vw;
                margin: 20px 0 0 0;
                letter-spacing: 5px;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .hero-group {
        .hero-big-text {
            left: 3%;
            top: 24%;

            .hero-copy {
                font-size: 99px;
            }

            .hero-subcopy {
                font-size: 32px;
                line-height: 38px;
                padding: 0;
                margin: 5px 0 0 0;
            }

            .hero-cta {
                font-size: 23px;
                width: 246px;
                padding: 17px 7px;
                margin: 30px 0 0 0;
            }
        }
    }
}

@media only screen and (min-width: 1800px) {
    .hero-group {
        height: 646px;
        .hero-big-text {
            .hero-copy {
                font-size: 107px;
            }

            .hero-subcopy {
                font-size: 34px;
                padding: 0;
            }

            .hero-cta {
                padding: 17px 13px;
                width: 246px;
                font-size: 24px;
                margin: 35px 0 0 0;
                letter-spacing: 7px;
            }
        }
    }
}